
<div >
    <h1 style="margin-left:500px; margin-top:20px; color: blue;">Welcome to Aadhar Portal</h1>
    </div>
    <div style="float:right; margin-right:500px ;margin-top:50px;">
        <img src="../assets/images/eaadhar.png" alt="aadharimg">
    </div>
    <div style="margin-left:480px; margin-top:70px; float: left;">
        <button type="button" routerLink="/apply" class="btn btn-warning">Apply for new Aadhar</button>
    
    <br>
    <br>
        <button type="button" routerLink="/duplicate" class="btn btn-warning">Apply Duplicate</button>  
    <br>
    <br>
        <button type="button" routerLink="/cancel" class="btn btn-warning">-x Cancel</button>
    <br>
    <br>
        <button type="button" routerLink="/update" class="btn btn-warning">Update</button>      
    </div>
    <div class="clearfix"></div>
   
   
    