<div>
    <h1 style="margin-left:500px; margin-top:80px; color: blue;">Welcome to Aadhar Portal</h1>
    </div>
    <div style="margin-left:650px; margin-top:30px;">
        <br><br>
        <button type="button" routerLink="/fetchall" class="btn btn-danger"><---Fetch All users---></button>
        <br><br>
        <button type="button" routerLink="/verify" class="btn btn-danger">Verify and Accept users</button>
        <br><br>
        <button type="button" routerLink="/cview" class="btn btn-danger">&nbsp;View Cancel Requests&nbsp;</button>    
        
</div>


