
<div>
<h1 style="margin-left:480px; margin-top:50px; color: blue;">Welcome to mAadhar Application</h1>
</div>

<div style="margin-left:550px;float: left;margin-top: 100px;">
    <br>
    <button type="button" routerLink="/userlogin" class="btn btn-success">Login As Citizen</button>

<br>
<br>
    <button type="button" routerLink="/adminlogin" class="btn btn-success">Login As Admin</button>
<br>
<br>
    <button type="button" routerLink="/register" class="btn btn-success">->Register User</button>
</div>
<div class="clearfix"></div>
<div style="margin-right:400px; float:right; margin-top:-190px;" >
    <img src="../assets/images/aadhar.png" alt="aadharimg">
</div>
