<h2 style="color:rgb(253, 155, 7); margin-top:10px;margin-left:580px;">Aadhar Details Updation</h2>
<div style="margin-top:70px;margin-left:370px; width:800px; border: 2px solid black;margin-bottom:10px; padding:20px;">
    <h3 style="margin-left:300px ;">Form-2</h3>
<form>
<div class="form-group">
  <label type="text" name="name">Citizen name</label>
  <input  class="form-control" name="name" [(ngModel)]="update.name">
</div>
  <div class="form-group">
    <label type="text" name="dob">Permanent Address</label>
    <input  class="form-control" name="address" [(ngModel)]="update.address">
  </div>  
<div class="form-group">
  <label for="emailid">Email Id</label>
  <input class="form-control" name="emailid" [(ngModel)]="update.emailid">
</div>
<div class="form-group">
    <label for="mobno">Mobile Number</label>
    <input class="form-control" name="mobno" [(ngModel)]="update.mobno">
  </div>
<button type="submit" (click)="updateNow()" class="btn btn-warning" routerLink="/afterupdate">Submit</button>
</form>
</div>
