<div>
    <h1 style="margin-top:25px; margin-left:480px; color:rgb(11, 23, 245);">Cancel of Aadhar card Requests</h1>
    </div>
    <div style="margin-top:60px;margin-bottom:60px;">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
              <th>Citizen Name</th> 
              <th>Mobile Number</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let can of can">
                   <td>{{can.username}}</td> 
                   <td>{{can.mobilenumber}}</td>   
                </tr>
            </tbody>
</table>
</div>
    <br>
    <div style="margin-left:700px ;">
        <button type="button" class="btn btn-dark" routerLink="/adminpage">Go back</button>
    </div>

